body{
  font-family: 'sans-serif', cursive;
}
.container{

}
.box{
  height: 100px;
  width: 100px;
  border: 2px solid black ;
}
.circle{
height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
}